.header__lang-link {
    align-items: center;
    font-style: normal;
    font-weight: normal;
    display: flex;
    margin: 0;
}

@media (min-width: 320px) {
    .header__lang-link {
        margin-right: 16px;
        margin-top: 14px;
    }
}

@media (min-width: 768px) {
    .header__lang-link {
        margin-right: 24px;
        margin-top: 30px;
    }
}

@media (min-width: 1024px) {
    .header__lang-link {
        margin-right: 48px;
        margin-top: 30px;
    }
}

@media (min-width: 1280px) {
    .header__lang-link {
        margin-right: 48px;
        margin-top: 30px;
    }
}