.cover__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cover__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .3;
    transition: 1s;
    background: #2A2C2F;
}

.cover__link:hover::before {
    transition: 1s;
    opacity: .8;
}

@media (min-width: 320px) {
    .cover__link {
        width: 100%;
        max-width: 320px;
        min-height: 200px;
    }
}

@media (min-width: 768px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover__link {
        max-width: 1184px;
        min-height: 740px;
    }
}