.places {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

@media (min-width: 320px) {
    .places {
        width: 100%;
        max-width: 320px;
        margin: 66px auto;
    }
}

@media (min-width: 768px) {
    .places {
        margin: 90px auto;
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .places {
        margin: 92px auto;
        max-width: 928px;
    }
}

@media (min-width: 1280px) {
    .places {
        max-width: 984px;
    }
}