.header__lang {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 320px) {
    .header__lang {
        font-size: 18px;
        line-height: 20px;
        margin-left: 18px;
    }
}

@media (min-width: 768px) {
    .header__lang {
        font-size: 24px;
        line-height: 28px;
    }
}