.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 320px) {
    .header {
        margin-bottom: 48px;
        width: 100%;
        padding-top: 16px;
    }
}

@media (min-width: 768px) {
    .header {
        margin-bottom: 48px;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .header {
        margin-bottom: 48px;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .header {
        margin-bottom: 56px;
        width: 100%;
    }
}