.intro__text {
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

@media (min-width: 320px) {
    .intro__text {
        padding-bottom: 34px;
        font-size: 16px;
        line-height: 163%;
        max-width: 288px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .intro__text {
        padding-bottom: 33px;
        font-size: 16px;
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
        margin: 0;
    }
}