.cover {
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 320px) {
    .cover {
        margin: 0 auto 64px;
        width: 100%;
        min-height: 200px;
    }
}

@media (min-width: 768px) {
    .cover {
        margin: 0 auto 88px;
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .cover {
        margin: 0 auto 92px;
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover {
        min-height: 740px;
        max-width: 1184px;
    }
}