.cover__background {
    position: absolute;
    background-position: center;
    background-size: cover;
}

@media (min-width: 320px) {
    .cover__background {
        height: 200px;
        width: 100%;
        background-image: url(../../../images/cover-trains.jpg);
    }
}

@media (min-width: 768px) {
    .cover__background {
        height: 480px;
        width: 100%;
        background-image: url(../../../images/cover-trains.jpg);
    }
}

@media (min-width: 1024px) {
    .cover__background {
        height: 640px;
        width: 100%;
        background-image: url(../../../images/cover-trains.jpg);
    }
}

@media (min-width: 1280px) {
    .cover__background {
        height: 740px;
        width: 100%;
        background-image: url(../../../images/cover-trains.jpg);
    }
}