.lead__caption {
    padding-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    max-width: 158px;
    letter-spacing: 0.15em;
}

@media (min-width: 320px) {
    .lead__caption {
        margin: 0 16px;
    }
}

@media (min-width: 768px) {
    .lead__caption {
        margin: 0 24px;
    }
}

@media (min-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media (min-width: 1280px) {
    .lead__caption {
        margin-left: 148px;
    }
}