.place {
    display: grid;
}

.place:first-child {
    margin-top: 0;
}

@media (min-width: 320px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas: "title" "image" "paragraph";
        margin-top: 64px;
    }
}

@media (min-width: 768px) {
    .place {
        margin-top: 88px;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-areas: "title  website" "image paragraph" "image paragraph";
    }
}

@media (min-width: 1024px) {
    .place {
        margin-top: 92px;
    }
}