.footer {
    margin: 0;
    color: #ffffff;
}

@media (min-width: 320px) {
    .footer {
        width: 100%;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}