.footer {
    margin: 0;
    color: #ffffff;
}

@media (min-width: 320px) {
    .footer {
        width: 186px;
        height: 310px;
        padding-bottom: 24px;
    }
}

@media (min-width: 768px) {
    .footer {
        width: 720px;
        height: 18px;
        padding-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .footer {
        width: 928px;
        height: 18px;
        padding-bottom: 24px;
    }
}

@media (min-width: 1280px) {
    .footer {
        width: 1184px;
        height: 18px;
        padding-bottom: 24px;
    }
}