.place__url-heading {
    font-style: normal;
    font-weight: normal;
    color: #aaaaaa;
}

@media (min-width: 768px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        max-width: 352px;
    }
}

@media (min-width: 1024px) {
    .place__url-heading {
        max-width: 456px;
    }
}