.header__lang-link-ru {
    color: #ffffff;
}

@media (min-width: 320px) {
    .header__lang-link-ru {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    .header__lang-link-ru {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1024px) {
    .header__lang-link-ru {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1280px) {
    .header__lang-link-ru {
        font-size: 24px;
        line-height: 28px;
    }
}