.place__website {
    grid-area: website;
    align-self: flex-end;
}

@media (min-width: 320px) {
    .place__website {
        display: none;
    }
}

@media (min-width: 768px) {
    .place__website {
        margin: auto 0 48px;
        max-width: 352px;
        display: block;
    }
}