.place__paragraph_bottom {
    margin: 0;
    width: 100%;
    grid-area: paragraph_bottom;
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 320px) {
    .place__paragraph_bottom {
        width: 288px;
        margin: auto;
        font-size: 16px;
        line-height: 163%;
    }
}

@media (min-width: 768px) {
    .place__paragraph_bottom {
        width: 352px;
        margin-top: 25px;
        font-size: 18px;
        line-height: 163%;
    }
}

@media (min-width: 1024px) {
    .place__paragraph_bottom {
        width: 456px;
        margin-top: 27px;
        font-size: 18px;
        line-height: 163%;
    }
}

@media (min-width: 1280px) {
    .place__paragraph_bottom {
        width: 484px;
        margin: 26px 0;
        font-size: 18px;
        line-height: 163%;
    }
}